In [1]:
print("hello world")

hello world

In [2]:
# shift + enter
print("hello world")

hello world

In [3]:
a=9

In [4]:
print(a)

9

In [5]:
type(a)

int

In [6]:
a= "hello"

In [7]:
type(a)

str

In [8]:
print(a)

hello

In [9]:
###Conditional_statements

In [10]:
n=9
if n>10:
    print("number is greater than 10")
else:
    print("no is smaller than 10")
print("always executed")

no is smaller than 10
always executed

In [11]:
n=9
if n>10:
    print("number is greater than 10")
elif n<5:
    print("no is smaller than 5")
else:
    print("else part")
print("always executed")

else part
always executed

In [12]:
i=0
while i<=10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [13]:
i=0
while i<=10:
    print(i,end=' ')
    i+=1
print("End")

0 1 2 3 4 5 6 7 8 9 10 End

In [14]:
### For IN LOOP

In [15]:
for ele in range(20,30):
    print(ele,end=" ")

20 21 22 23 24 25 26 27 28 29

In [16]:
5**2

25

In [17]:
print(5+2)
print(8-2)
print(7/2)
print(7//2)
print(5**3)

7
6
3.5
3
125

In [18]:
## Fucnctions ##

In [19]:
def sample():
    print("Hello from function")

In [20]:
sample()

Hello from function

In [21]:
def sample_1(a,b):
    print("Hello from function")
    return a+b,a,b

In [22]:
sample_1(1,2)

Hello from function

(3, 1, 2)

In [23]:
s="Hello"

In [24]:
s[0]

'H'

In [25]:
s+str(4)

'Hello4'

In [26]:
s*4

'HelloHelloHelloHello'

In [27]:
def pattern(n):
    for i in range(n):
        print("X "*(i+1))

In [28]:
pattern(5)

X
X X
X X X
X X X X
X X X X X

In [29]:
def patternx(n):
    for i in range(n):
        print(" "*(n-i+1)+"X"*(2*(i+1)-1))

In [30]:
patternx(5)

      X
     XXX
    XXXXX
   XXXXXXX
  XXXXXXXXX

In [31]:
## data structure

In [32]:
## list

In [33]:
l=[5,3,8,0,7,9,20]

In [34]:
l[0]

5

In [35]:
l[6]

20

In [36]:
l[-1]

20

In [37]:
type(l)

list

In [38]:
# ListSlicing
# l[start_index:end_index+1]

In [39]:
l[2:6]

[8, 0, 7, 9]

In [40]:
l[:]

[5, 3, 8, 0, 7, 9, 20]

In [41]:
l[3:]

[0, 7, 9, 20]

In [42]:
l[:3]

[5, 3, 8]

In [43]:
##Iterating over list
for element in l:
    print(element**2)

25
9
64
0
49
81
400

In [44]:
l.append(100)

In [45]:
l[:]

[5, 3, 8, 0, 7, 9, 20, 100]

In [46]:
l.insert?

In [47]:
l.insert(2,400)#shift + tab

In [48]:
l[:]

[5, 3, 400, 8, 0, 7, 9, 20, 100]

In [49]:
l.sort()

In [50]:
l[:]

[0, 3, 5, 7, 8, 9, 20, 100, 400]

In [51]:
l.sort(reverse=True)

In [52]:
l[:]

[400, 100, 20, 9, 8, 7, 5, 3, 0]

In [53]:
l.clear()

In [54]:
l[:]

[]

In [55]:
## TUples

In [56]:
t=(5,7,2,8,6)

In [57]:
t[1:4]

(7, 2, 8)

In [58]:
#doesnot support assignment

In [59]:
t[-1]

6

In [60]:
t.count(1)

0

In [61]:
food_menu ={#key value pair
    "samosa":10,
    "patty":15,
    "cofee":{
        's':10,
        'm':20,
        'l':30
    },
    "juice":[15,25,30]
}

In [62]:
food_menu['samosa']

10

In [63]:
food_menu['juice'][-1]

30

In [64]:
food_menu['cofee']['s']

10

In [65]:
food_menu.items()

dict_items([('samosa', 10), ('patty', 15), ('cofee', {'s': 10, 'm': 20, 'l': 30}), ('juice', [15, 25, 30])])